* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #27ae60;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;

    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-text-size-adjust:none;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0 10px;
    text-align: center;
}

.loader-container {
    margin: 0 auto;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #27ae60;
}

#city-choice {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 1;
}

#city-choice .container {
    width: 40%;
    min-width: 300px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 20px;
}

#city-choice form {
    display: flex;
    padding: 10px;
}

#city-choice input {
    border: none;
    padding: 15px;
}

#city-choice input[type="text"] {
    background: none;
    color: #27ae60;
}

#city-choice input[type="text"]:focus {
    outline: none;
}

#city-choice input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #27ae60;
    opacity: 1; /* Firefox */
}

#city-choice input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #27ae60;
}

#city-choice input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
    color: #27ae60;
}

#city-choice input[type="submit"] {
    background: #27ae60;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin-left: auto;
}

#city-choice input[type="submit"]:hover {
    cursor: pointer;
}

#city-choice ul {
    background-color: white;
    display: none;
    margin-right: 0 auto;
    text-align: left;
    padding-left: 15px;
}

#city-choice li {
    padding: 10px;
}

#city-choice li:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

#city-choice a {
    color: black;
}

#city-choice a:hover {
    text-decoration: none;
}

.card {
    background-color: white;
    box-shadow: 0px 2px 10px;
    border-radius: 0;
    padding: 10px 40px;
    height: 340px;
    width: 40%;
    min-width: 500px;
    margin: auto;
}

.now {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}

.icon-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 40px 0 40px;
}

.icon-container img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.icon-container #current-temperature {
    font-size: 40pt;
    margin-right: 5px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.next-days {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 90%;
    height: 150px;
    margin: 0 auto;
}

.day-card {
    display: inline-block;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 14px 0 14px 0;
    width: 100px;
    height: 100px;
    text-align: center;
}

.day-card .date {
    font-size: 10pt;
    font-weight: bold;
}

.day-card .weekday {
    font-size: 10pt;
    margin-bottom: 5px;
}

.day-card span {
    font-size: 16pt;
}

.day-card .min {
    color: #999999;
}
