* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #27ae60;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;

    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-text-size-adjust:none;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}


ul {
    background-color: #eeeeee;
    display: none;
    width: 35%;
    margin: 10px auto;
    text-align: left;
    z-index: 1000;
}

li {
    padding: 10px;
}

a {
    color: black;
}

.loader-container {
    margin: auto;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #27ae60;
}

.card {
    background-color: white;
    box-shadow: 0px 2px 20px;
    border-radius: 0;
    padding: 10px 40px;
    height: 340px;
    width: 40%;
    min-width: 500px;
    position: absolute;
    top: 250px;
    left: 30%;
    margin: auto;
    z-index: -1;
}

.now {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50px;
}

.icon-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 40px 0 40px;
}

.icon-container img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.icon-container #current-temperature {
    font-size: 40pt;
    margin-right: 5px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.next-days {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 90%;
    height: 150px;
    margin: 0 auto;
}

.hour-card {
    display: inline-block;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 14px 0 14px 0;
    width: 100px;
    height: 100px;
    text-align: center;
}

.hour-card .date {
    font-size: 10pt;
    font-weight: bold;
}

.hour-card .weekday {
    font-size: 10pt;
    margin-bottom: 5px;
}

.hour-card span {
    font-size: 16pt;
}

.hour-card .min {
    color: #999999;
}

.city {
    margin-top: 20px;
    text-align: center;
    z-index: 1000;
}

.city input {
    border: 1px solid white;
    margin-right: 10px;
    padding: 10px;
}

.city input[type="text"] {
    background: none;
    color: white;
}

.city input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.city input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.city input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.city input[type="submit"] {
    background: white;
    color: #27ae60;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.city input[type="submit"]:hover {
    cursor: pointer;
}
